<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.mvcboard.mapper.BoardMapper">
	<select id="selectLocalNameList" resultType="java.util.Map"> <!-- id: BoardMapper.java 내 메소드명, resultType: 쿼리 결과를 매핑할 자바 객체 타입 지정 -->
		SELECT local_name localName, COUNT(*) cnt FROM board GROUP BY local_name
	</select>
	<!-- alias 없을 경우 setter, getter 호출 불가 -->
	
	<!-- 전체 리스트 -->
	<select id="selectBoardListByPage" parameterType="java.util.Map" resultType="com.goodee.mvcboard.vo.Board"> <!-- list 내에 들어가는 객체의 타입 -->
		SELECT 
			board_no boardNo,
			local_name localName, 
			board_title boardTitle, 
			member_id memberId,
			createdate
		FROM board
		<where>
			<if test="localName != null &amp;&amp; localName != ''"> <!-- localName이 null도 공백도 아니면 where 실행 -->
				local_name = #{localName}
			</if>
		</where>
		<!-- WHERE local_name = #{localName} -->
		ORDER BY createdate DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 상세정보 -->
	<select id="selectBoardOne" parameterType="int" resultType="com.goodee.mvcboard.vo.Board">
		SELECT board_no boardNo, local_name localName, board_title boardTitle, board_content boardContent, member_id memberId, createdate, updatedate 
		FROM board
		WHERE board_no = #{boardNo}
		
		<!-- SELECT b.board_no boardNo, b.local_name localName, b.board_title boardTitle, b.board_content boardContent, bf.origin_filename originFilename, b.member_id memberId, b.createdate, b.updatedate 
		FROM board b INNER JOIN boardfile bf ON b.board_no = bf.board_no
		WHERE b.board_no = #{boardNo} -->
	</select>
	
	<select id="selectBoardCnt" resultType="int">
		SELECT COUNT(*) FROM board
	</select>
	
	<!-- insert 시 <insert> 사용  -->
	<insert id="insertBoard" parameterType="com.goodee.mvcboard.vo.Board">
		<selectKey order="AFTER" keyProperty="boardNo" resultType="int"> <!-- AFTER: 키가 반환되고 난 뒤에 실행 -->
			SELECT last_insert_id() <!-- insert 후 생성되는 키값 반환  -->
		</selectKey>
		INSERT INTO board(local_name, board_title, board_content, member_id, createdate, updatedate) 
		VALUES(#{localName}, #{boardTitle}, #{boardContent}, #{memberId}, NOW(), NOW())
	</insert>
																																																																										
	<delete id="removeBoard" parameterType="com.goodee.mvcboard.vo.Board">
		DELETE FROM board
		WHERE board_no = #{boardNo} AND member_id = #{memberId} 
	</delete>
	
	<update id="modifyBoard" parameterType="com.goodee.mvcboard.vo.Board">
		UPDATE board
		SET board_title = #{boardTitle},
			board_content = #{boardContent},
			local_name = #{localName},
			updatedate = NOW() 
		WHERE board_no = #{boardNo} AND member_id = #{memberId}
	</update>
</mapper>